@import "bulma/utilities/_all";

$red: #670710;
$gold: #dc8a25;

$size-1: 1.5rem;
$size-2: 1.25rem;
$size-3: 1rem;
$size-4: 0.75rem;

$text: #d37a1c;
$text-strong: #e69900;
$link: $text;
$link-hover: #b57000;

$background: $black;
$body-background-color: $black;

$box-background-color: $red;

$title-color: $gold;
$content-heading-color: $text;

$navbar-background-color: $gold; //#b99027;
$navbar-item-color: $black;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: $text;
$navbar-item-active-background-color: $text;
$navbar-dropdown-arrow: $black-ter;
$navbar-dropdown-background-color: $gold;
$navbar-dropdown-item-hover-background-color: $text;
$navbar-dropdown-item-active-background-color: $text;
$navbar-dropdown-border-top: 2px solid $text;

$notification-background-color: $gold;

$card-color: $black;
$card-shadow: 0 3px 4px rgba($text, 0.3), 0 0 0 2px rgba($text, 0.3);
$card-background-color: $red;
$card-footer-background-color: $gold;
$card-footer-border-top: 1px solid $link-hover;

$button-color: $black;
$button-hover-color: $black-ter;
$button-border-color: rgba($text, 0.3);
$button-hover-border-color: rgba($text, 0.3);
$button-background-color: $gold;

$input-color: $black;
$input-background-color: $gold;
$input-border-color: rgba($text, 0.3);
$input-hover-border-color: rgba($text, 0.3);

html {
    background: url('flame.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

body {
    height: 100vh;
}

.content h1 {
    font-size: $size-1 !important;
}
.content h2 {
    font-size: $size-2 !important;
}
.content h3 {
    font-size: $size-3 !important;
}
.content h4 {
    font-size: $size-4 !important;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.box.is-main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card.is-map {
    margin-left: 15px !important;
    float: right !important;
    cursor: pointer;
}
.card-image.is-map > img {
    max-width: 200px;
}
.card.is-map > .card-image {
    margin-bottom: 5px;
}

.card.is-gallery-item {
    cursor: pointer;
    margin: 3px;
}
.card-image.is-gallery-item {
    display: flex;
    justify-content: center;
}
.card-image.is-gallery-item > img {
    max-height: 250px;
}

.navbar-burger span {
    color: $black;
}

.footer {
    padding-bottom: 5px;
}

@import "bulma/base/_all";
@import "bulma/components/navbar";
@import "bulma/components/card";
@import "bulma/components/modal";
@import "bulma/elements/box";
@import "bulma/elements/container";
@import "bulma/elements/image";
@import "bulma/elements/title";
@import "bulma/elements/notification";
@import "bulma/elements/content";
@import "bulma/elements/button";
@import "bulma/elements/form";
@import "bulma/layout/section";
@import "bulma/grid/columns";

.navbar-dropdown {
    display: initial;
    transition: transform 150ms, opacity 150ms;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0.2;
}

.navbar-item.is-hoverable:hover .navbar-dropdown {
    transform: scaleY(1);
    opacity: 1;
}

a:not(.navbar-item):not(.navbar-link) {
    text-decoration: underline;
}
