{% extends "page.html" %}

{% block extra_head %}
<script type="text/javascript" src="{{ get_url(path="js/jsx.js", trailing_slash=false) }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/charsearch.js", trailing_slash=false) }}"></script>
{% endblock extra_head %}

{% block content %}
<h1 class="title has-text-centered is-3">{{ page.title }}</h1>
<div class="content">{{ page.content | safe }}</div>

<div class="field">
    <div class="control is-expanded">
        <input class="input" type="text" placeholder="Namen hier eingeben" id="search">
    </div>
</div>

<div class="columns is-multiline" id="results_list">

</div>
{% endblock content %}