<!DOCTYPE html>
<html lang="de">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% block title %}{{ config.title }} - Jugend-Fantasy-Reihe{% endblock title %}</title>

	<!-- SEO -->
	<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ get_url(path="dt.css", trailing_slash=false) }}">

	{% if config.generate_rss %}
	<link
		rel="alternate"
		type="application/rss+xml"
		title="RSS"
		href="{{ get_url(path="rss.xml", trailing_slash=false) }}"
		>
	{% endif %}

	{% block extra_head %}
	{% endblock extra_head %}
</head>

<body>
	<div class="container" style="margin: 0 auto; max-width: 950px">
		<div class="box is-main">
			<div class="logo">
				<a href="{{ config.base_url }}">
					<figure class="image" style="max-width: 700px">
						<img src="{{ get_url(path="DT-Logo-gold-1200X280.png", trailing_slash=false) }}" />
					</figure>
				</a>
			</div>
			{% block navbar %}
			<nav class="navbar">
				<div class="navbar-brand">
					<a class="navbar-item" href="{{ config.base_url }}">
						DragonTale
					</a>
					<a class="navbar-burger burger" aria-label="menu" aria-expanded="false"
						onclick="document.getElementById('menu').classList.toggle('is-active')">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="menu" class="navbar-menu">
					<div class="navbar-start">
						{% set topsec = get_section(path="_index.md") %}

						{% for secname in topsec.subsections | reverse %}
						{% set sec = get_section(path=secname) %}
						{% if sec.title == "Pages" or sec.title == "Fun" %}{% continue %}{% endif %}
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" href="{{ sec.permalink }}">{{ sec.title }}</a>
							<div class="navbar-dropdown">
								<a class="navbar-item" href="{{ sec.permalink }}">{{ sec.title }}</a>
								{% for page in sec.pages %}
								<a class="navbar-item" href="{{ page.permalink }}">{{ page.title }}</a>
								{% endfor %}
							</div>
						</div>
						{% endfor %}

						{% for page in topsec.pages %}
						{% if page.title == "Home" %}{% continue %}{% endif %}
						<a class="navbar-item" href="{{ page.permalink }}">
							{{ page.title }}
						</a>
						{% endfor %}
					</div> {# navbar-start #}
					<div class="navbar-end">
					</div> {# navbar-end #}
				</div>
			</nav>
			{% endblock navbar %}

			<section class="section">
				{% block content %}
				{% set homepage = get_section(path="_index.md") %}
				<h1 class="title has-text-centered is-3">Dragon Tale</h1>
				<div class="content">
					{{ homepage.content | safe }}
				</div>
				{% endblock content %}
			</section>
			<div class="footer has-text-centered is-size-7">&copy; 2019 by Aylin Hacker
				{% set pagesec = get_section(path="pages/_index.md") %}
				{% for page in pagesec.pages %}
				|
				<a href="{{ page.permalink }}">{{ page.title }}</a>
				{% endfor %}
			</div>
		</div> {# box #}
	</div>
</body>

</html>
