{% macro map(image, text) %}
<script type="text/javascript">
 function showMapFull() {
     document.getElementById("map-view").classList.add("is-active");
 }
 function closeMap() {
     document.getElementById("map-view").classList.remove("is-active");
 }
</script>
<div class="card is-map" onclick="showMapFull()">
  <div class="card-image is-map">
    <img src="{{ image }}">
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">{{ text }}</p>
  </footer>
</div>
<div class="modal" id="map-view">
  <div class="modal-background" onclick="closeMap()"></div>
  <div class="modal-content is-flex" style="justify-content: center">
    <img style="max-height: 95vh" src="{{ image }}">
  </div>
  <button class="modal-close is-large" onclick="closeMap()"></button>
</div>
{% endmacro map %}

{% macro gallery(images) %}
<h1 class="title is-4">Galerie</h1>
<script type="text/javascript">
const images = [
    {% for image in images %}"{{ image.path | safe }}",{% endfor %}
];
var selectedIndex = 0;

function showGalleryFull(index) {
    showImage(index);
    let gallery = document.getElementById("gallery-view");
    gallery.classList.add("is-active");
    gallery.onclick = handleTouch;
    document.body.onkeypress = handleKey;
}
function showImage(index) {
    document.getElementById("gallery-image").setAttribute("src", images[index]);
    selectedIndex = index;
}

function nextImage() {
    let index = (selectedIndex+1) > (images.length-1) ? 0 : selectedIndex+1;
    showImage(index);
}
function prevImage() {
    let index = (selectedIndex-1) < 0 ? images.length-1 : selectedIndex-1;
    showImage(index);
}
function handleKey(e) {
    if(e.keyCode == 37)
	 prevImage();
    else if(e.keyCode == 39)
	 nextImage();
}
function handleTouch(e) {
    let x = e.clientX;
    if(x > window.innerWidth)
	 nextImage();
    else
	 prevImage();
}

function closeGallery() {
    let gallery = document.getElementById("gallery-view");
    gallery.classList.remove("is-active");
    gallery.onclick = null;
    document.body.onkeypress = null;
}
</script>
{% for image in images %}
<div class="card is-gallery-item is-inline-block" onclick="showGalleryFull({{ loop.index0 }})">
  <div class="card-image is-gallery-item">
    <img src="{{ image.path }}">
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">{{ image.text }}</p>
  </footer>
</div>
{% endfor %}
<div class="modal" id="gallery-view">
  <div class="modal-background" onclick="closeGallery()"></div>
  <div class="modal-content is-flex" style="justify-content: center">
    <img id="gallery-image" style="max-height: 95vh">
  </div>
  <button class="modal-close is-large" onclick="closeGallery()"></button>
</div>
{% endmacro gallery %}
