{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block description %}{{ page.description }}{% endblock description %}

{% block extra_head %}
{% if page.extra.include_meta %}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"Book",
  "name" : "Dragon Tale - Kind des Feuers",
  "author": {
    "@type":"Person",
    "name":"Aylin Hacker"
  },
  "url" : "https://dragontale.de/baende/kind-des-feuers/",
  "workExample" : [{
    "@type": "Book",
    "isbn": "9783740753306",
    "bookEdition": "Erste Auflage",
    "bookFormat": "https://schema.org/Paperback",
    "potentialAction":{
    "@type":"ReadAction",
    "target":
      {
        "@type":"EntryPoint",
        "urlTemplate":"https://www.twentysix.de/shop/dragon-tale-kind-des-feuers-aylin-hacker-9783740753306",
        "actionPlatform":[
          "https://schema.org/DesktopWebPlatform",
          "https://schema.org/IOSPlatform",
          "https://schema.org/AndroidPlatform"
        ]
      },
      "expectsAcceptanceOf":{
        "@type":"Offer",
        "Price":19.99,
        "priceCurrency":"EUR",
        "eligibleRegion" : {
          "@type":"Continent",
          "name":"Europe"
        },
        "availability": "https://schema.org/InStock"
      }
    }
  }]
}
</script>
{% endif %}
{% endblock extra_head %}

{% block content %}
<h1 class="title has-text-centered is-3">{{ page.title }}</h1>
{% if page.extra.map %}
{{ macros::map(image=page.extra.map.image,text=page.extra.map.text) }}
{% endif %}
<div class="content">{{ page.content | safe }}</div>
{% if page.extra.gallery %}
{{ macros::gallery(images=page.extra.gallery) }}
{% endif %}
{% endblock content %}