{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block description %}{{ page.description }}{% endblock description %}

{% block extra_head %}
<script type="text/javascript" src="{{ get_url(path="js/pertestbase.js", trailing_slash=false) }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/testdata.js", trailing_slash=false) }}"></script>
<script type="text/javascript" src="{{ get_url(path="js/pertestimpl.js", trailing_slash=false) }}"></script>
{% endblock extra_head %}

{% block content %}
<h1 class="title is-4">{{ page.title }}</h1>
<div class="columns is-multiline" id="testContent">
{% endblock content %}
