{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block description %}{{ section.description }}{% endblock description %}

{% block content %}
<h1 class="title has-text-centered is-3">{{ section.title }}</h1>
{% if section.extra.map %}
{{ macros::map(image=section.extra.map.image,text=section.extra.map.text) }}
{% endif %}
{% if section.content %}
<div class="content">{{ section.content | safe }}</div>
{% endif %}
<div class="columns is-multiline">
  {% for page in section.pages %}
  <div class="column is-half">
    <div class="notification">
      <h5 class="title has-text-black is-5">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h5>
      <div class="content has-text-black">
        {{ page.description }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% if section.extra.gallery %}
{{ macros::gallery(images=section.extra.gallery) }}
{% endif %}
{% endblock content %}